.grid  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


    &__item {
      flex-grow: 1;
      margin: 1rem;
      flex-basis: calc(100% / 3 - 2rem);

    }
}

.outer-container  {
  padding: 1rem;
}

.container  {
  max-width: 65rem;
  margin-left: 6rem;
}
